{% load static %}

<footer class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-8 col-lg-6">
          <div class="footer-logo">

            <a class="navbar-brand" href="#">VERX - Teste</a>
            <p>Este pequeno sistema é somente um exemplo para teste de habilidades em Python/Django.</p>

          </div>
        </div>
        <div class="col-md-4 col-lg-6">
          <p><a href="/api/produtores" target="_blank">API Produtores</a></p>
          <p><a href="/api/culturas" target="_blank">API Culturas</a></p>
          <p><a href="#" target="_blank">Relatório de Testes</a></p>
        </div>
      </div>
    </div>

    <div class="copyrights">
      <div class="container">
        <p>&copy; Copyrights Everlon Passos. All rights reserved.</p>
      </div>
    </div>

</footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>

<script src="https://unpkg.com/htmx.org@1.9.10"></script>