{% extends 'base.html' %}
{% load static %}

{% block section %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <section id="hero">
        <div class="container text-center p-5" data-aos="fade-in">
            <h1>Bem-vindo à minha Plataforma Teste</h1>
            <h2>Aqui apresento meu teste de forma simples e objetiva...</h2>

            <div class="container row row-cols-1 row-cols-md-2 g-4" data-aos="zoom-out" data-aos-delay="100">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            Total de Fazendas:
                            <h1>{{ graf_valores_produtores.total_fazendas }}</h1>
                        </div>
                    </div>
                </div>                    
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            Total de fazendas em hectares:
                            <h1>{{ graf_valores_produtores.total_area }}</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container row row-cols-1 row-cols-md-3 g-4 mt-1" data-aos="zoom-out" data-aos-delay="100">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div><canvas id="ChartEstado"></canvas></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div><canvas id="ChartCultura"></canvas></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div><canvas id="ChartUsoSolo"></canvas></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btns mt-3">
            <a href="#">Python</a>
            <a href="#">Django</a>
            <a href="#">Django Rest Framework</a>
            <a href="#">Postgres</a>
            <a href="#">Bootstrap 5</a>
            <a href="#">HTMX</a>
            <a href="#">Nginx</a>
            <a href="#">Linux</a>
            <a href="#">API</a>
            <a href="#">Test</a>
            </div>
        </div>
    </section>

<style>
    .htmx-settling img { opacity: 0; }
    img { transition: opacity 300ms ease-in; }
</style>



  
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
<script>
    const ctx1 = document.getElementById('ChartEstado');
  
    new Chart(ctx1, {
      type: 'pie',
      data: {
        labels: [{% for k, v in graf_estados.items %}'{{ k }}', {% endfor %}],
        datasets: [{
          label: 'Total: ',
          data: [{% for k, v in graf_estados.items %}'{{ v }}', {% endfor %}],
          borderWidth: 1
        }]
      },
      options: {
        plugins: {
            legend: {
                display: true,
                position: 'bottom',
            },
            title: {
                display: true,
                text: 'Estados'
            }
        }
      },
    });
</script>
<script>
    const ctx2 = document.getElementById('ChartCultura');
  
    new Chart(ctx2, {
      type: 'pie',
      data: {
        labels: [{% for c in graf_contar_culturas %}'{{ c.name }}', {% endfor %}],
        datasets: [{
          label: 'Total: ',
          data: [{% for c in graf_contar_culturas %}'{{ c.total_cultura }}',{% endfor %}],
          borderWidth: 1
        }]
      },
      options: {
        plugins: {
            legend: {
                display: true,
                position: 'bottom',
            },
            title: {
                display: true,
                text: 'Culturas'
            }
        }
      },
    });
</script>
<script>
    const ctx3 = document.getElementById('ChartUsoSolo');
  
    new Chart(ctx3, {
      type: 'pie',
      data: {
        labels: ['Área agricultável', 'Área de vegetação',],
        datasets: [{
          label: 'Total: ',
          data: [{% for k, v in graf_valores_usodesolo.items %}'{{ v }}', {% endfor %}],
          borderWidth: 1
        }]
      },
      options: {
        plugins: {
            legend: {
                display: true,
                position: 'bottom',
            },
            title: {
                display: true,
                text: 'Uso de Solo'
            }
        }
      },
    });
</script>
  

{% endblock %}