{% extends 'base.html' %}
{% load static %}

{% load custom_filters %}

{% block section %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <section id="hero">
        <div class="container text-center p-5" data-aos="fade-in">
            <h1>Bem-vindo à minha Plataforma Teste</h1>
            <h2>Aqui apresento meu teste de forma simples e objetiva...</h2>

            <div class="container row row-cols-1 row-cols-md-2 g-4" data-aos="zoom-out" data-aos-delay="100">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            Total de Fazendas:
                            <h1>{{ graf_valores_produtores.total_fazendas }}</h1>
                        </div>
                    </div>
                </div>                    
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            Total de fazendas em hectares:
                            <h1>{{ graf_valores_produtores.total_area }}</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container row row-cols-1 row-cols-md-3 g-4 mt-1" data-aos="zoom-out" data-aos-delay="100">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div>{% plot grafico_estados 400 %}</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div>{% plot grafico_culturas 400 %}</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div>{% plot grafico_areas 400 %}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btns mt-3">
            <a href="#">Python</a>
            <a href="#">Django</a>
            <a href="#">Postgres</a>
            <a href="#">Bootstrap 5</a>
            <a href="#">HTMX</a>
            <a href="#">Nginx</a>
            <a href="#">Linux</a>
            </div>
        </div>
    </section>

{% endblock %}