<header id="header" class="header fixed-top d-flex align-items-center">

<div class="container d-flex align-items-center justify-content-between">

    <div id="logo">
        <h1><a href="{% url 'home' %}">Brain<span>Ag</span></a></h1>
    </div>

    <nav id="navbar" class="navbar">
    <ul>
        <li><a class="nav-link scrollto" href="{% url 'home' %}">Dashboard</a></li>
        <li><a class="nav-link scrollto" href="{% url 'produtores' %}">Produtores Rurais</a></li>
        <li><a class="nav-link scrollto active" href="{% url 'login' %}">Login</a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

</div>

</header>